In [1]:
!pip install psycopg2-binary sqlalchemy pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: pandas in c:\users\akshi\appdata\roaming\python\python312\site-packages (2.3.1)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\akshi\appdata\roaming\python\python312\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\akshi\appdata\roaming\python\python312\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\akshi\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\akshi\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\akshi\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\akshi\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ----------- ---------------------------- 0.8/2.7 MB 8.5 MB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 7.9 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 7.9 MB/s  0:00:00
Downloading sqlalchemy-2.0.45-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ------------------- -------------------- 1.0/2.1 MB 8.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 5.2 MB/s  0:00:00
Downloading greenlet-3.3.0-cp312-cp312-win_amd64.whl (301 kB)
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy

   ---------------------------------------- 0/3 [psycopg2-binary]
   ---------------------------------------- 0/3 [psycopg2-binary]
   ---------------------------------------- 0/3 [psycopg2-binary]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   ------------- -------------------------- 1/3 [greenlet]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   -------------------------- ------------- 2/3 [sqlalchemy]
   ---------------------------------------- 3/3 [sqlalchemy]

Successfully installed greenlet-3.3.0 psycopg2-binary-2.9.11 sqlalchemy-2.0.45

In [7]:
from sqlalchemy import create_engine
import pandas as pd
from urllib.parse import quote_plus

password = quote_plus("akshita@8869") 

engine = create_engine(
    f"postgresql+psycopg2://postgres:{password}@localhost:5433/churn_analysis"
)

In [9]:
query = "SELECT * FROM churn_classification;"
df = pd.read_sql(query, engine)
df.head()

,user_id,age,gender,region_category,joining_date,api_calls_90d,session_minutes_90d,days_since_active,churn_status
0,1,18,F,Village,2017-08-17,8793,1027.11,2,Active
1,2,32,F,City,2017-08-28,8605,862.65,1,Active
2,3,44,F,Town,2016-11-11,267,411.37,16,Silent Churn
3,4,37,M,City,2016-10-29,227,215.77,20,Silent Churn
4,5,31,F,City,2017-09-12,294,231.94,2,Active

In [11]:
df['session_bucket'] = pd.qcut(
    df['session_minutes_90d'],
    q=4,
    labels=['Very Low', 'Low', 'High', 'Very High']
)

df['api_bucket'] = pd.qcut(
    df['api_calls_90d'],
    q=4,
    labels=['Very Low', 'Low', 'High', 'Very High']
)
df.head()

,user_id,age,gender,region_category,joining_date,api_calls_90d,session_minutes_90d,days_since_active,churn_status,session_bucket,api_bucket
0,1,18,F,Village,2017-08-17,8793,1027.11,2,Active,Very High,Very High
1,2,32,F,City,2017-08-28,8605,862.65,1,Active,Very High,Very High
2,3,44,F,Town,2016-11-11,267,411.37,16,Silent Churn,Low,Very Low
3,4,37,M,City,2016-10-29,227,215.77,20,Silent Churn,Very Low,Very Low
4,5,31,F,City,2017-09-12,294,231.94,2,Active,Very Low,Very Low

In [13]:
df['churn_risk_score'] = (
    (df['days_since_active'] > 14).astype(int) +
    (df['session_bucket'].isin(['Very Low', 'Low'])).astype(int) +
    (df['api_bucket'].isin(['Very Low', 'Low'])).astype(int)
)
df.head()

,user_id,age,gender,region_category,joining_date,api_calls_90d,session_minutes_90d,days_since_active,churn_status,session_bucket,api_bucket,churn_risk_score
0,1,18,F,Village,2017-08-17,8793,1027.11,2,Active,Very High,Very High,0
1,2,32,F,City,2017-08-28,8605,862.65,1,Active,Very High,Very High,0
2,3,44,F,Town,2016-11-11,267,411.37,16,Silent Churn,Low,Very Low,3
3,4,37,M,City,2016-10-29,227,215.77,20,Silent Churn,Very Low,Very Low,3
4,5,31,F,City,2017-09-12,294,231.94,2,Active,Very Low,Very Low,2

churn_risk_score
0    13979
1     8731
2    12466
3     1816
Name: user_id, dtype: int64

In [15]:
df.groupby('churn_risk_score')['churn_status'].value_counts()

churn_risk_score  churn_status
0                 Active          13979
1                 Active           8731
2                 Active          12466
3                 Silent Churn     1816
Name: count, dtype: int64

In [16]:
df.to_csv("silent_churn_dashboard.csv", index=False)